* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="网络媒体_files/u0_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="网络媒体_files/u5_normal.png");
}

* html .u40_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="网络媒体_files/Styled_Button_u40_mouseDown.png");
}

* html .u40_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="网络媒体_files/Styled_Button_u40_disabled.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="网络媒体_files/Styled_Button_u40_normal.png");
}

* html .u43_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="网络媒体_files/Styled_Button_u40_mouseDown.png");
}

* html .u43_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="网络媒体_files/Styled_Button_u40_disabled.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="网络媒体_files/Styled_Button_u40_normal.png");
}

