* html .u2_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="上传_files/button___file_upload_browse_u2_mouseOver.png");
}

* html .u2_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="上传_files/button___file_upload_browse_u2_mouseDown.png");
}

* html .u2_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="上传_files/button___file_upload_browse_u2_selected.png");
}

* html .u2_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="上传_files/button___file_upload_browse_u2_disabled.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="上传_files/button___file_upload_browse_u2_disabled.png");
}

