body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:30px;
    top:20px;
    width:200px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:9px;
    top:85px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:200px;
    top:86px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:525px;
    top:83px;
    width:58px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:85px;
    top:82px;
    width:107px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:273px;
    top:83px;
    width:84px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u6 {
    position:absolute;
    left:9px;
    top:111px;
    width:775px;
    height:387px
}

.u7_normal {
    background-image: url('../列表_5_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:74px;
    height:42px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:48px;
}

.u8 {
    position:absolute;
    left:2px;
    top:12px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../列表_5_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:74px;
    top:0px;
    width:85px;
    height:42px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:48px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../列表_5_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:159px;
    top:0px;
    width:522px;
    height:42px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:48px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:518px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../列表_5_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:681px;
    top:0px;
    width:89px;
    height:42px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:48px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:85px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../列表_5_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:42px;
    width:74px;
    height:34px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../列表_5_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:74px;
    top:42px;
    width:85px;
    height:34px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:40px;
}

.u18 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../列表_5_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:159px;
    top:42px;
    width:522px;
    height:34px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:40px;
}

.u20 {
    position:absolute;
    left:2px;
    top:10px;
    width:518px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../列表_5_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:681px;
    top:42px;
    width:89px;
    height:34px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:40px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../列表_5_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:76px;
    width:74px;
    height:34px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../列表_5_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:74px;
    top:76px;
    width:85px;
    height:34px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:40px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../列表_5_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:159px;
    top:76px;
    width:522px;
    height:34px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:40px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:518px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../列表_5_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:681px;
    top:76px;
    width:89px;
    height:34px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:40px;
}

.u30 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../列表_5_files/u15_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:110px;
    width:74px;
    height:34px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../列表_5_files/u17_normal.png');
}

.u33_container {
    position:absolute;
    left:74px;
    top:110px;
    width:85px;
    height:34px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:40px;
}

.u34 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../列表_5_files/u19_normal.png');
}

.u35_container {
    position:absolute;
    left:159px;
    top:110px;
    width:522px;
    height:34px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:40px;
}

.u36 {
    position:absolute;
    left:2px;
    top:10px;
    width:518px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../列表_5_files/u21_normal.png');
}

.u37_container {
    position:absolute;
    left:681px;
    top:110px;
    width:89px;
    height:34px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:40px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../列表_5_files/u23_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:144px;
    width:74px;
    height:34px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../列表_5_files/u25_normal.png');
}

.u41_container {
    position:absolute;
    left:74px;
    top:144px;
    width:85px;
    height:34px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:40px;
}

.u42 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../列表_5_files/u27_normal.png');
}

.u43_container {
    position:absolute;
    left:159px;
    top:144px;
    width:522px;
    height:34px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:40px;
}

.u44 {
    position:absolute;
    left:2px;
    top:10px;
    width:518px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../列表_5_files/u29_normal.png');
}

.u45_container {
    position:absolute;
    left:681px;
    top:144px;
    width:89px;
    height:34px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:40px;
}

.u46 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../列表_5_files/u15_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:178px;
    width:74px;
    height:34px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../列表_5_files/u17_normal.png');
}

.u49_container {
    position:absolute;
    left:74px;
    top:178px;
    width:85px;
    height:34px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:40px;
}

.u50 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../列表_5_files/u19_normal.png');
}

.u51_container {
    position:absolute;
    left:159px;
    top:178px;
    width:522px;
    height:34px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:40px;
}

.u52 {
    position:absolute;
    left:2px;
    top:10px;
    width:518px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../列表_5_files/u21_normal.png');
}

.u53_container {
    position:absolute;
    left:681px;
    top:178px;
    width:89px;
    height:34px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:40px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../列表_5_files/u23_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:212px;
    width:74px;
    height:34px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../列表_5_files/u25_normal.png');
}

.u57_container {
    position:absolute;
    left:74px;
    top:212px;
    width:85px;
    height:34px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:40px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../列表_5_files/u27_normal.png');
}

.u59_container {
    position:absolute;
    left:159px;
    top:212px;
    width:522px;
    height:34px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:40px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:518px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../列表_5_files/u29_normal.png');
}

.u61_container {
    position:absolute;
    left:681px;
    top:212px;
    width:89px;
    height:34px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:40px;
}

.u62 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../列表_5_files/u15_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:246px;
    width:74px;
    height:34px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../列表_5_files/u17_normal.png');
}

.u65_container {
    position:absolute;
    left:74px;
    top:246px;
    width:85px;
    height:34px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:40px;
}

.u66 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../列表_5_files/u19_normal.png');
}

.u67_container {
    position:absolute;
    left:159px;
    top:246px;
    width:522px;
    height:34px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:40px;
}

.u68 {
    position:absolute;
    left:2px;
    top:10px;
    width:518px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../列表_5_files/u21_normal.png');
}

.u69_container {
    position:absolute;
    left:681px;
    top:246px;
    width:89px;
    height:34px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:40px;
}

.u70 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../列表_5_files/u23_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:280px;
    width:74px;
    height:34px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../列表_5_files/u25_normal.png');
}

.u73_container {
    position:absolute;
    left:74px;
    top:280px;
    width:85px;
    height:34px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:40px;
}

.u74 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../列表_5_files/u27_normal.png');
}

.u75_container {
    position:absolute;
    left:159px;
    top:280px;
    width:522px;
    height:34px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:40px;
}

.u76 {
    position:absolute;
    left:2px;
    top:10px;
    width:518px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../列表_5_files/u29_normal.png');
}

.u77_container {
    position:absolute;
    left:681px;
    top:280px;
    width:89px;
    height:34px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:40px;
}

.u78 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../列表_5_files/u15_normal.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:314px;
    width:74px;
    height:34px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../列表_5_files/u17_normal.png');
}

.u81_container {
    position:absolute;
    left:74px;
    top:314px;
    width:85px;
    height:34px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:40px;
}

.u82 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../列表_5_files/u19_normal.png');
}

.u83_container {
    position:absolute;
    left:159px;
    top:314px;
    width:522px;
    height:34px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:40px;
}

.u84 {
    position:absolute;
    left:2px;
    top:10px;
    width:518px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../列表_5_files/u21_normal.png');
}

.u85_container {
    position:absolute;
    left:681px;
    top:314px;
    width:89px;
    height:34px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:40px;
}

.u86 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../列表_5_files/u23_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:348px;
    width:74px;
    height:34px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:40px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:70px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../列表_5_files/u25_normal.png');
}

.u89_container {
    position:absolute;
    left:74px;
    top:348px;
    width:85px;
    height:34px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:40px;
}

.u90 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../列表_5_files/u27_normal.png');
}

.u91_container {
    position:absolute;
    left:159px;
    top:348px;
    width:522px;
    height:34px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:528px;
    height:40px;
}

.u92 {
    position:absolute;
    left:2px;
    top:10px;
    width:518px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../列表_5_files/u29_normal.png');
}

.u93_container {
    position:absolute;
    left:681px;
    top:348px;
    width:89px;
    height:34px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:40px;
}

.u94 {
    position:absolute;
    left:2px;
    top:10px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:535px;
    top:499px;
    width:37px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96 {
    position:absolute;
    left:484px;
    top:503px;
    width:42px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:584px;
    top:504px;
    width:27px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_mouseDown {
    background-image: url('../列表_5_files/Styled_Button_u98_mouseDown.png');
}

.u98_disabled {
    background-image: url('../列表_5_files/Styled_Button_u98_disabled.png');
}

.u98_normal {
    background-image: url('../列表_5_files/Styled_Button_u98_normal.png');
}

.u98_container {
    position:absolute;
    left:652px;
    top:498px;
    width:59px;
    height:24px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:30px;
}

.u99 {
    position:absolute;
    left:2px;
    top:4px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:393px;
    top:503px;
    width:71px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_mouseDown {
    background-image: url('../列表_5_files/Styled_Button_u98_mouseDown.png');
}

.u101_disabled {
    background-image: url('../列表_5_files/Styled_Button_u98_disabled.png');
}

.u101_normal {
    background-image: url('../列表_5_files/Styled_Button_u98_normal.png');
}

.u101_container {
    position:absolute;
    left:721px;
    top:498px;
    width:59px;
    height:24px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:30px;
}

.u102 {
    position:absolute;
    left:2px;
    top:4px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:358px;
    top:86px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:431px;
    top:83px;
    width:84px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

