* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新页面_1_1_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新页面_1_1_files/u2_normal.png");
}

* html .u4_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新页面_1_1_files/Styled_Button_u4_mouseDown.png");
}

* html .u4_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新页面_1_1_files/Styled_Button_u4_disabled.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新页面_1_1_files/Styled_Button_u4_normal.png");
}

* html .u6_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新页面_1_1_files/Styled_Button_u4_mouseDown.png");
}

* html .u6_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新页面_1_1_files/Styled_Button_u4_disabled.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="新页面_1_1_files/Styled_Button_u4_normal.png");
}

