body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../新页面_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:40px;
    top:33px;
    width:520px;
    height:54px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:526px;
    height:60px;
}

.u1 {
    position:absolute;
    left:2px;
    top:19px;
    width:516px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:60px;
    top:48px;
    width:480px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:40px;
    top:158px;
    width:550px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:150px;
    top:97px;
    width:270px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

